<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b69da5">  <td>20/01/06 01:34:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;UPCValidation.startReport()[pri:0, instance:com.catalina.hub360.steps.UPCValidation@31f924f5]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@392781299</td>   <td></td> </tr>
<tr bgcolor="b69da5">  <td>20/01/06 01:34:39</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UPCValidation.UPCValidation_()[pri:0, instance:com.catalina.hub360.steps.UPCValidation@31f924f5]">UPCValidation_</td> 
  <td>main@392781299</td>   <td></td> </tr>
<tr bgcolor="b69da5">  <td>20/01/06 01:34:43</td>   <td>3303</td> <td>&nbsp;</td><td title="&lt;&lt;UPCValidation.endReport()[pri:0, instance:com.catalina.hub360.steps.UPCValidation@31f924f5]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@392781299</td>   <td></td> </tr>
</table>
