<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteOCe</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94e299">  <td>20/03/13 04:47:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentConfig.startTest()[pri:0, instance:com.catalina.hub360.steps.Hub@4b53f538]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/03/13 04:47:55</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hub.hub360()[pri:0, instance:com.catalina.hub360.steps.Hub@4b53f538]">hub360</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="b59d86">  <td>20/03/13 04:48:17</td>   <td>22612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UPCValidation.Validation_UPCValidation()[pri:0, instance:com.catalina.hub360.steps.UPCValidation@134593bf]">Validation_UPCValidation</td> 
  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="686563">  <td>20/03/13 04:48:20</td>   <td>25277</td> <td>&nbsp;</td><td title="&lt;&lt;Hub.writeExtentReport()[pri:0, instance:com.catalina.hub360.steps.Hub@4b53f538]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
<tr bgcolor="94e299">  <td>20/03/13 04:48:21</td>   <td>26258</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentConfig.endTest()[pri:0, instance:com.catalina.hub360.steps.Hub@4b53f538]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2040352617</td>   <td></td> </tr>
</table>
